
@(tweets : List[String])
@import helper._

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Twitter Search API") {
	
    @content
    @if(tweets.isEmpty){
    } else{
    	<div class="container-fluid">
    		<ul class="pagination">
    		<ul>
		    	@for(tweet <- tweets) {
		    		<li>
		    			@tweet
		    		</li>	
		    	}
		    </ul>
			</ul>
    	<!-- 
    		<ul class="pagination">
    		<ul>
		    	@for(tweet <- tweets) {
		    		<li>
		    			@tweet
		    		</li>	
		    	}
			</ul>
		    </ul>
		     -->
		</div>
    }

}

@content = {
    <form action="@routes.HomeController.search()" method="POST">
        Search: <input type="text" name="searchWord"><br><br>
        Total Tweets Returned: <input type="number" name="quantity" min="1">
        <button>Search</button>
    </form>
    <br>
    <form action="@routes.HomeController.getSearchHistory()" method="GET">
    	<button>See My Search History!</button>
    </form>
}
